@model BTRS.Models.Bus

@using (Html.BeginForm("CreateBus", "Bus", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.CptName, "Captain name ")
            </td>
            <td>
                @Html.TextBoxFor(m => m.CptName)
                @Html.ValidationMessageFor(m => m.CptName)
            </td>
        </tr>
        <br />

        <tr>
            <td>
                @Html.LabelFor(m => m.NOofSeats, "Number of seats ")
            </td>
            <td>
                @Html.TextBoxFor(m => m.NOofSeats)
            </td>
        </tr>
        <br />

    </table>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
        <input type="submit" value="Create bus" class="btn btn-primary" /> <br />

    </div>


}


@TempData["Msg"]
