@model IEnumerable<BTRS.Models.Bus>
@Html.Partial("_BListTop")


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Bus No.
            </th>
            <th>
                Captain Name
            </th>
            <th>
                Number of seats
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CptName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOofSeats)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BusId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BusId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BusId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @TempData["msg"]
</div>