@model BTRS.Models.Login;
@Html.Partial("_signNlogTop")

<div class="container">
    @using (Html.BeginForm("Login", "Passenger", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <table class="table">

                    <tr>
                        @Html.LabelFor(m => m.username, "Username")
                        @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })

                    </tr>
                    <tr>
                        @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
                    </tr>


                    <tr>
                        @Html.LabelFor(m => m.password, "Password")
                        @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })

                    </tr>
                    <tr>
                        @Html.PasswordFor(m => m.password, new { @class = "form-control" })     
                    </tr>

                </table>

                <div class="col-md-6 offset-md-3">
                <div class="form-group mt-3 text-center">
                    <a asp-action="SignUp" asp-controller="Passenger" class="btn btn-outline-primary">Sign Up</a>
                        <button type="submit" class="btn btn-primary">Login</button>

                </div>
            </div>
            </div>
        </div>
    }
</div>
