@model IEnumerable<BTRS.Models.BusTrip>

@{
    ViewData["Title"] = "TripList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Booked Trips</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Trip ID
            </th>
            <th>
                Destination
            </th>
            <th>
                Start Date
            </th>
            <th>
                Bus No.
            </th>
            <th>
                Captain Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null) {
        @foreach (var item in Model)
        {
            <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destination)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bus.BusId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bus.CptName)
                    </td>
                <td>
                        <a asp-action="RemoveTrip" asp-route-id="@item.TripId">Remove trip</a> |
                        <a asp-action="TripDetails" asp-route-id="@item.TripId">Details</a>
                </td>
            </tr>

        }
        }

        <a asp-action="ViewTrips">Book trip</a>
    </tbody>
</table>
