@model IEnumerable<BTRS.Models.BusTrip>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Book trips</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Trip ID
            </th>
            <th>
                Destination
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Captain name
            </th>
            <th>
                Number of seats
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TripId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bus.CptName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bus.NOofSeats)
                </td>
                <td>
                    <a asp-action="AddTrip" asp-route-id="@item.TripId">Book trip</a> |
                    <a asp-action="TripDetails" asp-route-id="@item.TripId">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
