@model IEnumerable<BTRS.Models.BusTrip>
@Html.Partial("_userTop")


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Book Trips</h1>

<div>
    <a asp-action="TripList" asp-controller="Passenger">Back</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Trip ID
            </th>
            <th>
                Destination
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Number of seats
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TripId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bus.NOofSeats)
                </td>
                <td>
                    <a asp-action="AddTrip" asp-route-id="@item.TripId">Book trip</a> |
                    <a asp-action="TripDetails" asp-route-id="@item.TripId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
