@model BTRS.Models.BusTrip

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.bus.BusId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bus.BusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.bus.CptName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bus.CptName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.bus.NOofSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bus.NOofSeats)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back</a> |
    <a asp-action="Edit" asp-route-id="@Model?.TripId">Edit</a>

</div>