@model IEnumerable<BTRS.Models.BusTrip>
@Html.Partial("_BTripTop")


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Trip ID
            </th>
            <th>
                Destination
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Bus No.
            </th>
            <th>
                Captain Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TripId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bus.BusId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bus.CptName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TripId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TripId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TripId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
